.about {
  padding: 120px 0;
  width: 100%;

  &__h4 {
    font-size: 30px;
    font-weight: 600;
    @include responsive(765px) {
      padding-left: 20px;
    }
  }

  &__text p {
    color: $silver;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    padding-left: 50px;
    @include responsive(765px) {
      padding-left: 20px;
    }
  }

  &__section {
    background: #efefefef;
    padding: 60px;
    text-align: center;
    @include responsive(765px) {
      margin-bottom: 20px;
    }

    &-icon {
      color: $green;
      margin-bottom: 10px;
    }
    &-heading h6 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    &-text {
      color: $silver;
      font-size: 15px;
      letter-spacing: 1px;
    }
  }
}
