@for $i from 1 through $columns {
  .col-#{$i} {
    flex: 0 0 (100% / 12) * $i;
    width: (100% / 12) * $i;
  }
  @include responsive(765px) {
    .col-#{$i} {
      flex: 0 0 100%;
      width: 100%;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}
